 <section id="contacto">
        <h1>&#9997; Dirección:
            <p id="cont">AV. VELASCO IBARRA, LATACUNGA, ECUADOR</p>
        </h1>
        <h1>&#128231; Email: 
            <p id="cont"><a href="mailto:COMPUMUNDO@gmail.com">COMPUMUNDO@gmail.com</a></p>
        </h1>
        <h1>&#129305; Teléfono:
            <p id="cont"><a href="tel:+ 593 995334545">+ 593 995334545</a></p>
        </h1>
    </section>