<!-- Inicio de la seccion redes sociales -->
    <section class="sociales">
        <div class="contenedor text-centro">
            <h1 id="frase1">Síguenos en...</h1>
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/color/48/000000/facebook-new.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png" alt=""></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- Fin de la seccion redes sociales -->